@section scripts
{

    <script src="~/js/TaskService.js"></script>
    <script src="~/js/TaskListController.js"></script>
    <script src="~/js/taskAddController.js"></script>
    <script src="~/js/taskEditController.js"></script>
}

<div ng-view>
   
</div>
