<div class="container">
    <h3 class="text-warning">{{pageTitle}} <a href="#/new"><span class="glyphicon glyphicon-plus"></span></a></h3> 

   

    <div>
        Search: <input type="text" ng-model="activeSearch" />
    </div>
    <div class="taskList" ng-repeat="task in taskList | filter: activeSearch">
        <div>
            <span>
                <input type="checkbox" ng-click="completeTask($index)" ng-model="task.Completed" />
                <a ng-class="{'strike':task.Completed}" href="#/task/{{task.Id}}">{{task.Id}} - {{task.Name}}</a>
            </span>
        </div>
    </div>
</div>